<%= form_with(model: turn) do |form| %>
  <% if turn.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(turn.errors.count, "error") %> prohibited this turn from being saved:</h2>

      <ul>
        <% turn.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.datetime_field :date %>
  </div>

  <div>
    <%= form.label :motive, style: "display: block" %>
    <%= form.text_area :motive %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.number_field :state %>
  </div>

  <div>
    <%= form.label :result, style: "display: block" %>
    <%= form.text_area :result %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
