<%= form_with(model: turn) do |form| %>
  <% if turn.errors.any? %>
    <div style="color: #1F3864">
      <h2>Se han encontrado <%= pluralize(turn.errors.count, "errores") %> :</h2>
      <ul>
        <% turn.errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date,"Fecha y hora del turno(los turnos son de 15 minutos)",class:'form-label' %>
    <%= form.datetime_field :date , class:'form-control'  %>
  </div>

  <div>
    <%= form.label :motive,"Motivo de la solicitud" ,class:'form-label' %>
    <%= form.text_area :motive , class:'form-control'%>
  </div>
    <%= form.label :subsidiary_id, "Sucursal" , class:'form-label' %>
    <%= form.select :subsidiary_id , ("<option></option>" + options_from_collection_for_select(Subsidiary.all, :id, :name, {:selected => @turn.subsidiary_id})).html_safe  %>
  <div>
   
  <br>
  <div>
  <% if  ! turn.persisted? %>
    <%= form.submit "Solicitar turno" %>
  <% else %>
    <%= form.submit "Editar turno" %>
  <% end %>
  </div>
<% end %>
