<div id="<%= dom_id turn %>">
  <p>
    <strong>Date:</strong>
    <%= turn.date %>
  </p>

  <p>
    <strong>Motive:</strong>
    <%= turn.motive %>
  </p>

  <p>
    <strong>State:</strong>
    <%= turn.state %>
  </p>

  <p>
    <strong>Result:</strong>
    <%= turn.result %>
  </p>

</div>
