<%= render "layouts/navbar" %>
<%= stylesheet_link_tag "pagination", "data-turbo-track": "reload" %>

<h1 class ="text-center" style="color: #1F3864">Turnos</h1>

<br>
<div id="subsidiaries">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Estado</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @turns.each do |turn| %>
      <tr>
        <td><%= I18n.l(turn.date.to_date, locale: :es) %></td>
        <td><%= convert_time(turn.date) %></td>
        <td><%= convert(turn.state) %></td>
        <td><%= button_to 'Detalle', turn,method: :get , :class=> 'button1' %></td>
        <% if ! turn.state %>
        <td><%= button_to 'Editar', edit_turn_path(turn),method: :get , :class=> 'button1' %></td>
        <td><%= button_to "Cancelar", turn, method: :delete, form: {data: {'turbo-confirm': 
        'Esta seguro que desea eliminar esta sucursal?' }} , :class=> 'button1' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @turns, :container => false %>
</div>
</div>

