<%= form_with(model: subsidiary) do |form| %>
  <% if subsidiary.errors.any? %>
    <div style="color: #1F3864">
      <h2>Se han encontrado <%= pluralize(subsidiary.errors.count, "errores") %> :</h2>
      <ul>
        <% subsidiary.errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name,"Nombre", :class => 'form-label' %>
    <%= form.text_field :name, :class=> 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :address,"Dirección", :class => 'form-label' %>
    <%= form.text_field :address , :class=> 'form-control'%>
  </div>

  <div class="mb-3">
    <%= form.label :phone_number,"Número de Teléfono", :class => 'form-label' %>
    <%= form.text_field :phone_number , :class=> 'form-control'%>
  </div>

    <%= form.submit "Crear Sucursal" %>  
<% end %>
