<%= render "layouts/navbar" %>
<%= stylesheet_link_tag "pagination", "data-turbo-track": "reload" %>
<p style="color: green"><%= notice %></p>

<h1 class ="text-center" style="color: #1F3864">Sucursales</h1>

<br>
<div id="subsidiaries">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @subsidiaries.each do |subsidiary| %>
      <tr>
        <td><%= subsidiary.name %></td>
        <td><%= subsidiary.address %></td>
        <td><%= subsidiary.phone_number %></td>
        <td><%= button_to 'Detalle', subsidiary,method: :get , :class=> 'button1' %></td>
        <% if current_user.admin? %>
        <td><%= button_to 'Editar', edit_subsidiary_path(subsidiary),method: :get , :class=> 'button1' %></td>
        <td><%= button_to "Eliminar", subsidiary, method: :delete, form: {data: {'turbo-confirm': 
        'Esta seguro que desea eliminar esta sucursal?' }} , :class=> 'button1' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination">
  <%= will_paginate @subsidiaries, :container => false %>
  <% if current_user.admin? %>
  <%= button_to 'Crear Sucursal', new_subsidiary_path,method: :get , :class=> 'button2' %>
   <% end %>
</div>
</div>

