<%= render "layouts/navbar" %>
<p style="color: green"><%= notice %></p>

<h1 class ="text-center" style="color: #1F3864">Detalle Sucursal</h1>

<%= render @subsidiary %>

<div>
  <%= link_to "Edit this subsidiary", edit_subsidiary_path(@subsidiary) %> |
  <%= link_to "Back to subsidiaries", subsidiaries_path %>

  <%= button_to "Destroy this subsidiary", @subsidiary, method: :delete %>
</div>
