<%= render "layouts/navbar" %>
<p style="color: green"><%= notice %></p>

<h1 class ="text-center" style="color: #1F3864">Detalle Sucursal</h1>

<%= render @subsidiary %>

<div>
  <%= button_to "Editar Sucursal", edit_subsidiary_path(@subsidiary), method: :get %>

  <%= button_to "Eliminar Sucursal", @subsidiary, method: :delete %>
</div>
