<%= render "layouts/navbar" %>
<% if current_user %>
    <p>Hola <%=current_user.email %>! </p>
    <p>You are a [<%= current_user.role %>]</p>
    <p>
       Se encuentra correctamente autenticado
    </p>
    <% if current_user.admin? %>
        <%= link_to "edit account", edit_user_registration_path %>
        <%= link_to "Sucursales" , subsidiaries_path %>
    <% end %>
    <%= link_to "Cerrar sesión", destroy_user_session_path, 'data-turbo-method': :delete %>
<% else %>
  <%= link_to "Registrar",new_user_registration_path %>
  <%= link_to "Iniciar Sesión" , new_user_session_path %>
<% end %>