<section class="vh-100 gradient-custom" style="background-color: #96D2DC">
<div class="container py-5 h-100">
   <div class="row d-flex justify-content-center align-items-center h-100">
     <div class="col-12 col-md-8 col-lg-6 col-xl-5">
       <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-4 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
             <h2 class="fw-bold mb-2 text-uppercase">Banco Argentina</h2>
              <h5 class="fw-bold mb-2 text-uppercase">Iniciar Sesión</h5>
              <p class="text-white-50 mb-5">Ingrese su email y su contraseña.</p>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-outline form-white mb-4">
                <%= f.label :email,"Email",:class=>"form-label",:class=>"form-label" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email",:class=>"form-control form-control-lg" %>
              </div>
               <div class="form-outline form-white mb-4">
                  <%= f.label :password,"Contraseña" %>
                  <%= f.password_field :password, autocomplete: "current-password",:class=>"form-control form-control-lg" %>
              </div>
              <%= link_to "Recuperar contraseña", new_password_path(resource_name) ,:class=>"text-white-50"%>
              <div class="actions">
                <%= f.submit "Iniciar sesión", data: {turbo:false},:class=>"btn btn-outline-light btn-lg px-5" %>
              </div>
              <% end %>
            </div>
            <div>
             <p class="mb-0">¿No tiene una cuenta creada? <%= link_to "Registrarse", new_registration_path(resource_name),:class=>"text-white-50 fw-bold" %>
             </p>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

              
            