<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">BANCO ARGENTINA</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= subsidiaries_path %>">Gestionar Sucursales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="<%= users_path %>">Gestionar Usuarios</a>
        </li>
        <li class="nav-item">
          <%= link_to "Ver información de perfil", current_user , :class=> 'nav-link active' %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<p style="color: green"><%= notice %></p>